body{
    width: 100vw;
    height: 100vh;
    background-color: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
}

.date-wrapper{
    font-weight: 600;
    color: #6E6B7B;
    width: 13%;
}

.date{
    font-size: 5em;
    margin: 0;
    line-height: 80%;
}

.day{
    margin: 0;
    font-size: 3em;
}

.todolist-wrapper{
    height: 40%;
    width: 30%;
}

.todolist-header{
    font-size: 18px;
    font-weight: 500;
    color: #6E6B7B;
    margin: 0;
    margin-bottom: 0.5em;
}

.todolist-container{
    background-color: #ffffff;
    /* width: 30%; */
    height: 85%;
    border-radius: 0.5em;
    border: 1px solid #EBE9F1;
    color: #6E6B7B;
}

.todolist{
    margin: 0;
    padding: 0;
}

.input-container{
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    border-bottom: 1px solid #EBE9F1;
}

.input-task{
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em;
    border-style: none;
    outline: none;
    color: #6E6B7B;
}

::placeholder{
    color: #B9B9C3;
}

.input-task:focus::placeholder{
    padding-left: 0.4em;
    transition: padding-left 0.2s ease;
}

.add-task-btn{
    position: relative;
    overflow: hidden;
    display: block;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-style: none;
    border-radius: 2em;
    background-color: #EA5455;
    color: #ffffff;
    padding: 0 1.5em;
    transition: box-shadow .2s ease;
}

.add-task-btn:hover{
    box-shadow: 0 3px 10px rgb(234, 84, 85, 0.5);
}

.add-task-btn:active, .add-task-btn:focus{
    box-shadow: none;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.3);
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

.task{
    list-style: none;
    padding:0.7em 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EBE9F1;
}

.delete-task-btn{
    display: block;
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
    color: #D8D6DE;
}

.delete-task-btn:hover{
    color: #B9B9C3;
    transition: color .3s ease;
}

.checkbox-input{
    display: none;
}

label{
    width: 1rem;
    height: 1rem;
    border: 1px solid #D8D6DE;
    border-radius: 50%;
    margin-right: 0.5em;
    cursor: pointer;
}

.checkmark{
    visibility: hidden;
    color: #ffffff;
    font-size: 1rem;
}

.checkbox-input:checked + .checkbox{
    background-color: #EA5455;
    border: 1px solid #EA5455;
    box-shadow: 0 2px 5px rgb(234, 84, 85, 0.5);
}

.checkbox-input:checked ~ span{
    color: #B9B9C3;
}

.checkbox-input:checked + .checkbox>.checkmark{
    visibility: visible;
}  


